{% extends 'webbase.html' %}
{% load static %}
{% block content %}
<style>
	html {
		scroll-behavior: smooth;

	}

	.card-body .card-text a {
		background-color: inherit !important;
	}
</style>
<link rel="stylesheet" href="{% static 'website/css/app.css' %}" type="text/css" />
<div class="wrapper">
	<nav id="sidebar" class="sidebar" style="margin-right: 0;">
		<div class="sidebar-content js-simplebar">
			<a class="sidebar-brand" href="{% url 'home' %}">
				<span class="align-middle">karkhana makerspace</span>
			</a>

			<ul class="sidebar-nav">
				<li class="sidebar-item">
					<a class="sidebar-link" href="{% url 'teachersportal:teacherprofile'%}">
						<i class="align-middle" data-feather="home"></i> <span class="align-middle">home</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{% url 'teachersportal:sessiondashboard' course_session_id %}">
						<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">dashboard</span>
					</a>
				</li>
				<li class="sidebar-item active">
					<a class="sidebar-link" href="#">
						<i class="align-middle" data-feather="user"></i> <span class="align-middle">chat</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href="{% url 'teachersportal:timetable' course_session_id %}">
						<i class="align-middle" data-feather="settings"></i> <span class="align-middle">timetable</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href={% url 'faq' %}>
						<i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">faq</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href={% url "accounts:logout" %}>
						<i class="align-middle" data-feather="book"></i> <span class="align-middle">sign-out</span>
					</a>
				</li>
		</div>
	</nav>

	<div class="main">
		<nav class="navbar navbar-expand navbar-light navbar-bg">
			<a class="sidebar-toggle d-flex">
				<i class="hamburger align-self-center"></i>
			</a>
		</nav>

		<main class="content">
			<div class="container-fluid ">
				<div class="flex-row mb-4">
					<div class="panel-title text-center h2 ">
						Chats
					</div>
					<hr>
					<div class="text-center">
						<a href="#type-message"><input class="btn btn-primary " type="button"
								value="Jump to latest" /></a>
					</div>
				</div>
				<div id="chat-messages">
					{% include 'teachersportal/chat_messages.html' %}
				</div>
				<div class="card">
					<div class="card-body">
						<h2 class="card-title mb-2">Type your message</h2>
						<div class="text-center mb-2">
						</div>
						<div class="card-text mb-1 ">
							<form method="post" id="message-form">
								{% csrf_token %}
								{{ form.msg_body }}
								<input class="btn btn-primary form-control mt-3" type="submit">
							</form>
							<button type="button" onclick="clear_chats()"
								class="btn btn-danger form-control mt-3">Delete all chats for
								everyone.</button>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>
<script>
	function clear_chats() {
		var confirmation = confirm("Are you sure, you want to clear the chats? The action is irreversible!")
		if (confirmation) {
			window.location.replace("{% url 'teachersportal:clear_chats' course_session_id %}");
		}
	}
	function get_chats(){
		$.ajax({
			type: "GET",
			url: "{% url 'teachersportal:get_chats' course_session_id %}",
			success: function (response) {
				console.log(response["messages"])
				$("#chat-messages").html(response["messages"])
			},
			error: function (response) {
				console.log(response);
			}
		});
		setTimeout(get_chats, 3000);
	}
	$(document).ready(function(){
		get_chats();
	});
	$("#message-form").submit(function (e) {
		e.preventDefault();
		var serializedData = $(this).serialize();
		$.ajax({
			type: "POST",
			url: "{% url 'teachersportal:chat' course_session_id %}",
			data: serializedData,
			success: function (response) {
				console.log(response["messages"])
				$("#message-form").trigger("reset");
				$("#chat-messages").html(response["messages"])
			},
			error: function (response) {
				console.log(response);
			}
		})
	})
</script>
<script src="{% static " website/js/app.js"%}"></script>
{% endblock %}