{% extends 'webbase.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'website/css/app.css' %}" type="text/css" />
<style>
	card a,
	a:hover,
	a:visited,
	a:link {
		background-color: inherit !important;
	}
</style>
<div class="wrapper">
	<nav id="sidebar" class="sidebar" style="margin-right: 0;">
		<div class="sidebar-content js-simplebar">
			<a class="sidebar-brand" href="{% url 'home' %}">
				<span class="align-middle">Karkhana Makerspace</span>
			</a>

			<ul class="sidebar-nav">
				<li class="sidebar-item">
					<a class="sidebar-link" href={% url 'teachersportal:teacherprofile' %}>
						<i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
					</a>
				</li>
				<li class="sidebar-item active">
					<a class="sidebar-link" href="#">
						<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href="{% url 'teachersportal:chat' course_session_id %}">
						<i class="align-middle" data-feather="user"></i> <span class="align-middle">Chat</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href="{% url 'teachersportal:timetable' course_session_id %}">
						<i class="align-middle" data-feather="settings"></i> <span class="align-middle">Timetable</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href={% url 'faq' %}>
						<i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">FAQ</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href={% url "accounts:logout" %}>
						<i class="align-middle" data-feather="book"></i> <span class="align-middle">Sign-Out</span>
					</a>
				</li>
				<li class="sidebar-item ">
					<a class="sidebar-link" href="{% url 'accounts:settings' user.pk %}">
						<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Account
							settings</span>
					</a>
				</li>
		</div>
	</nav>

	<div class="main">
		<nav class="navbar navbar-expand navbar-light navbar-bg">
			<a class="sidebar-toggle d-flex">
				<i class="hamburger align-self-center"></i>
			</a>
		</nav>

		<main class="content">
			<div class="container-fluid p-0">
				{% include 'messages.html' %}
				<div class="row">
					<div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
						<div class="card flex-fill">
							<div class="card-header">
								<h5 class="card-title mb-0">Timetable</h5>
							</div>
							<div class="card-body d-flex">
								{% if schedules %}
								<table class="table">
									<thead>
										<tr>
											<th>Event Name</th>
											<th>Date and Time</th>
											<th>Link</th>
										</tr>
									</thead>
									<tbody>
										{% for schedule in schedules %}
										<tr>
											<td>{{ schedule.text }}</td>
											<td>{{ schedule.datetime }}</td>
											<td><a href={{ schedule.link }}>{{ schedule.link }}</a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
								{% else %}
								<p class="text-muted">No classes are scheduled. Please add entries by going to the timetable section.</p>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-xxl-5 d-flex">
						<div class="w-100">
							<div class="row">
								<!-- cards for left column -->
								<div class="card">
									<a href={% url 'teachersportal:sessionassignment' course_session_id %}>
										<div class="card-body">
											<h5 class="card-title mb-3">Assignment</h5>
											<div class="card-text text-center">
												<div class="text-muted">
													Add, Change or Remove Assignment
												</div>
											</div>
										</div>
									</a>
								</div>
								<div class="card">
									<a href={% url 'teachersportal:quiz' course_session_id %}>
										<div class="card-body">
											<h5 class="card-title mb-3">Quiz</h5>
											<div class="card-text text-center">
												<div class="text-muted">
													Add, Change or Remove Quiz
												</div>
											</div>
										</div>
									</a>
								</div>
								<div class="card">
									<a href={% url 'teachersportal:chat' course_session_id %}>
										<div class="card-body">
											<h5 class="card-title mb-2">Chat</h5>
											<div class="card-text text-center">

												{% if last_chat and not last_chat.deleted_flag %}

												<p class="text-muted"><strong class="mr-3">Last Message by
														{{ last_chat.author.get_full_name }}</strong>
												<div class="text-muted">{{ last_chat.msg_body }}</div>
												</p>
												{% else %}
												<p>Chat with others by clicking here</p>
												{% endif %}
											</div>
										</div>
									</a>
								</div>
								<div class="card">
									{% if student_list %}
									<a href={% url 'teachersportal:studentlist' course_session_id %}>
										<div class="card-body">
											<h5 class="card-title mb-3">Update Student Progress</h5>
											<div class="card-text text-center">
												Click here
												to update progress of students
											</div>
										</div>
									</a>
									{% endif %}
								</div>
								<div class="card">
									<a href={% url 'teachersportal:sessionfinalproject' course_session_id %}>
										<div class="card-body">
											<h5 class="card-title mb-3">Final Project</h5>
											<div class="card-text text-center">
												<div class="text-muted">
													Add, Change or Remove Final Project
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class=" d-flex pl-0">
						<!-- col-12 col-md-12 col-xxl-3 -->
						<div class="card flex-fill w-100">
							<div class="card-header">
								<h5 class="card-title mb-0">Add or remove Announcement for students</h5>
							</div>
							<div class="card-body text-right">
								<form action={% url 'teachersportal:changeannouncement' course_session_id %}
									method="post">
									{% csrf_token %}
									{{ form.text }}
									<div class="btn-group-lg">
										<button type="submit" class="btn btn-info mt-1 ">Add or Change
											Announcement</button>
										{% if announcement %}
										<a style="color: inherit !important; background-attachment: fixed;" 
											href={% url 'teachersportal:changeannouncement' course_session_id %}><button
												type="button" class="btn btn-info mt-1">Delete Announcement</button></a>
										{% endif %}
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<script src={% static "website/js/app.js" %}></script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
		var gradient = ctx.createLinearGradient(0, 0, 0, 225);
		gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
		gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
		// Line chart
		new Chart(document.getElementById("chartjs-dashboard-line"), {
			type: "line",
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "Sales ($)",
					fill: true,
					backgroundColor: gradient,
					borderColor: window.theme.primary,
					data: [
						2115,
						1562,
						1584,
						1892,
						1587,
						1923,
						2566,
						2448,
						2805,
						3438,
						2917,
						3327
					]
				}]
			},
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				tooltips: {
					intersect: false
				},
				hover: {
					intersect: true
				},
				plugins: {
					filler: {
						propagate: false
					}
				},
				scales: {
					xAxes: [{
						reverse: true,
						gridLines: {
							color: "rgba(0,0,0,0.0)"
						}
					}],
					yAxes: [{
						ticks: {
							stepSize: 1000
						},
						display: true,
						borderDash: [3, 3],
						gridLines: {
							color: "rgba(0,0,0,0.0)"
						}
					}]
				}
			}
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Pie chart
		new Chart(document.getElementById("chartjs-dashboard-pie"), {
			type: "pie",
			data: {
				labels: ["Lecture", "Pravtical", "Assignment"],
				datasets: [{
					data: [4306, 3801, 1689],
					backgroundColor: [
						window.theme.primary,
						window.theme.warning,
						window.theme.danger
					],
					borderWidth: 5
				}]
			},
			options: {
				responsive: !window.MSInputMethodContext,
				maintainAspectRatio: false,
				legend: {
					display: true
				},
				cutoutPercentage: 75
			}
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Bar chart
		new Chart(document.getElementById("chartjs-dashboard-bar"), {
			type: "bar",
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "This year",
					backgroundColor: window.theme.primary,
					borderColor: window.theme.primary,
					hoverBackgroundColor: window.theme.primary,
					hoverBorderColor: window.theme.primary,
					data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
					barPercentage: .75,
					categoryPercentage: .5
				}]
			},
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				scales: {
					yAxes: [{
						gridLines: {
							display: false
						},
						stacked: false,
						ticks: {
							stepSize: 20
						}
					}],
					xAxes: [{
						stacked: false,
						gridLines: {
							color: "transparent"
						}
					}]
				}
			}
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var markers = [{
			coords: [31.230391, 121.473701],
			name: "Shanghai"
		},
		{
			coords: [28.704060, 77.102493],
			name: "Delhi"
		},
		{
			coords: [6.524379, 3.379206],
			name: "Lagos"
		},
		{
			coords: [35.689487, 139.691711],
			name: "Tokyo"
		},
		{
			coords: [23.129110, 113.264381],
			name: "Guangzhou"
		},
		{
			coords: [40.7127837, -74.0059413],
			name: "New York"
		},
		{
			coords: [34.052235, -118.243683],
			name: "Los Angeles"
		},
		{
			coords: [41.878113, -87.629799],
			name: "Chicago"
		},
		{
			coords: [51.507351, -0.127758],
			name: "London"
		},
		{
			coords: [40.416775, -3.703790],
			name: "Madrid "
		}
		];
		var map = new JsVectorMap({
			map: "world",
			selector: "#world_map",
			zoomButtons: true,
			markers: markers,
			markerStyle: {
				initial: {
					r: 9,
					strokeWidth: 7,
					stokeOpacity: .4,
					fill: window.theme.primary
				},
				hover: {
					fill: window.theme.primary,
					stroke: window.theme.primary
				}
			}
		});
		window.addEventListener("resize", () => {
			map.updateSize();
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		document.getElementById("datetimepicker-dashboard").flatpickr({
			inline: true,
			prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
			nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
		});
	});
</script>
{% endblock %}