{% extends 'webbase.html' %}
{% load static %}
{% block content %}
<div class="container-fluid login-page" style="margin-bottom: 3rem;margin-top: 2rem;">
  <div class="container ">
    <div class="row ">
      <div class="col-sm-10 login-box">
        <div class="row">
          <div class="col-lg-8 col-md-7 log-det">
            <!-- <div class="small-logo">
                                <i class="fab fa-asymmetrik"></i> Style Login
                            </div> -->
            <h2>Sign in to Teachers Portal</h2>
            <!-- <div class="row">
                                <ul>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div> -->
            <div class="row">
              <p class="small-info">Use your Email account</p>
            </div>

            <div class="content-section text-box-cont">
              <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">


                  <div id="div_id_username" class="control-group">
                    <div class="controls"> <input type="email" name="email" placeholder="Email" autofocus=""
                        autocapitalize="none" autocomplete="username" maxlength="150"
                        class="form-control textinput textInput" required="" id="id_username"> </div>
                  </div>
                  <div id="div_id_password" class="control-group">
                    <div class="controls"> <input type="password" name="password" placeholder="Password"
                        autocomplete="current-password" class="form-control textinput textInput" required=""
                        id="id_password"> </div>
                  </div>

                </fieldset>
                <div class="row justify-content-center form-group">
                  <small class="text-muted ml-2">
                    <a href="/password-reset/">Forgot Password?</a>
                  </small>
                </div>

                <div class="row justify-content-center form-group">
                  <div>
                    <button class="btn btn-outline-info" type="submit">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-md-5 box-de">
            <div class="ditk-inf">
              <h2 class="w-100" style="color: white;">Din't Have an Account </h2>
              <p>Simply Create your account by clicking the Signup Button</p>
              <a href={% url "teachersportal:teachersignup" %}>
                <button type="button" class="btn btn-outline-light">SIGN UP</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section mb-0 pb-0 bg-theme-light clearfix" style="padding-top: 0 !important">
  <div class="row">
    <div class="col-md-8 offset-1" id="get-involved" style="margin-bottom: 1rem">
      <div class="container">
        <h2 class="nott t600 display-4 register" style="margin-top: 1rem; margin-bottom: 1rem">
          K-12 Maker Program
        </h2>
        <p style="font-size: 1rem">
          Know more about K-12 Maker Programs.
        </p>
        <br />
        <a href="{% url 'home' %}" class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
          style="margin-bottom: 2rem !important"><span style="letter-spacing: 1px !important">Get Started</span></a>
      </div>
    </div>
  </div>
  <!-- <img src="" alt="Footer Image" class="footer-img" /> -->
</div>
{% endblock %}
