{% extends 'webbase.html' %}
{% load static %}
{% block content %}
<style>
	html {
		scroll-behavior: smooth;

	}

	.card-body .card-text a {
		background-color: inherit !important;
	}
</style>
<link rel="stylesheet" href="{% static 'website/css/app.css' %}" type="text/css" />
<div class="wrapper">
	<nav id="sidebar" class="sidebar" style="margin-right: 0;">
		<div class="sidebar-content js-simplebar">
			<a class="sidebar-brand" href="{% url 'home' %}">
				<span class="align-middle">Karkhana Makerspace</span>
			</a>

			<ul class="sidebar-nav">
				<li class="sidebar-item">
					<a class="sidebar-link" href={% url 'teachersportal:teacherprofile' %}>
						<i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href={% url 'teachersportal:sessiondashboard' course_session_id %}>
						<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href={% url 'teachersportal:chat' course_session_id %}>
						<i class="align-middle" data-feather="user"></i> <span class="align-middle warning">Chat</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href="{% url 'teachersportal:timetable' course_session_id %}">
						<i class="align-middle" data-feather="settings"></i> <span class="align-middle">Timetable</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href={% url 'faq'%}
>
						<i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">FAQ</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href={% url "accounts:logout" %}>
						<i class="align-middle" data-feather="book"></i> <span class="align-middle">Sign-Out</span>
					</a>
				</li>
		</div>
	</nav>

	<div class="main">
		<nav class="navbar navbar-expand navbar-light navbar-bg">
			<a class="sidebar-toggle d-flex">
				<i class="hamburger align-self-center"></i>
			</a>
		</nav>

		<main class="content">
			<div class="container-fluid ">
				<div class="flex-row mb-4">
					<div class="panel-title text-center h2 ">
						Students enrolled in this session
					</div>
					<hr>
				</div>

				{% if object_list %}
				{% for student in object_list %}
				<div class="card border-round-1">
					<a href='{% url "teachersportal:studentdetail"  course_session_id student.student_id %}' style="background-color: inherit !important;">
						<div class="card-body">
							<h2 class="card-title mb-3"><strong>{{ student.user.get_full_name }}</strong></h2>
							<p class="text-center">
								Update progess of {{ student.user.get_full_name }}
							</p>
						</div>
					</a>
				</div>
				{% endfor %}
				{% else %}
				<div class="card">
					<div class="card-body">
						<h2 class="card-title mb-3 warning"><strong>No students enrolled in this session</strong></h2>
						<div class="card-text mb-1 p-2">
							Contact Karkhana team for further query
						</div>
					</div>
				</div>
				{% endif %}
		</main>
	</div>
</div>
<script src="{% static "website/js/app.js"%}"></script>

{% endblock %}