{% extends 'webbase.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'website/css/app.css' %}" type="text/css" />
<style>
	card a,
	a:hover,
	a:visited,
	a:link {
		background-color: inherit !important;
	}
</style>
<div class="wrapper">
	<nav id="sidebar" class="sidebar" style="margin-right: 0;">
		<div class="sidebar-content js-simplebar">
			<a class="sidebar-brand" href="{% url 'home' %}">
				<span class="align-middle">Karkhana Makerspace</span>
			</a>

			<ul class="sidebar-nav">
				<li class="sidebar-item">
					<a class="sidebar-link" href={% url 'teachersportal:teacherprofile' %}>
						<i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href={% url 'teachersportal:sessiondashboard' course_session_id %}>
						<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href="{% url 'teachersportal:chat' course_session_id %}">
						<i class="align-middle" data-feather="user"></i> <span class="align-middle">Chat</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href="{% url 'teachersportal:timetable' course_session_id %}">
						<i class="align-middle" data-feather="settings"></i> <span class="align-middle">Timetable</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href={% url 'faq' %}>
						<i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">FAQ</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href={% url "accounts:logout" %}>
						<i class="align-middle" data-feather="book"></i> <span class="align-middle">Sign-Out</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{% url 'accounts:settings' user.pk %}">
						<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Account
							settings</span>
					</a>
				</li>
		</div>
	</nav>

	<div class="main">
		<nav class="navbar navbar-expand navbar-light navbar-bg">
			<a class="sidebar-toggle d-flex">
				<i class="hamburger align-self-center"></i>
			</a>
		</nav>
		{% include 'messages.html' %}
		<main class="content">
			<div class="container-fluid">
				<div class="row flex-grow-1">
					<div class="col-xl-6 col-xxl-5 d-flex mb-3">
						<div class="w-100">
							<!-- cards for left column -->
							<div class="card d-flex h-100 ">
								<div class="card-header">
									<h5 class="card-title">Student Detail</h5>
								</div>
								<div class="card-body pt-0">
									<div class="w-100" style="text-align: center;">
										
										{% if student.user.profile_photo %}
										<img src={{ student.user.profile_photo.url }} class="ml-3 rounded-circle mb-3" alt"
											width="150px" height="150px"  >
										{% else %}
										<img src={% static 'blogs/img/avatar.png' %} class="ml-3 rounded-circle mb-3" alt"
											width="150px" height="150px" >
										{% endif %}
											
										<h3>{{ student.user.get_full_name }}</h3>
										<h4 class="text-muted">Student</h4 class="text-muted">
										<hr>
									</div>
									<div>
										<h4>Classes Completed</h4>
										<p>{{ student.num_class }}</p>
										<h4>Quizzes Completed</h4>
										<p>{{ student.num_quiz }}</p>
										<h4>Assignments Completed</h4>
										<p>{{student.num_assignment}}</p>
										<h4>Final Project</h4>
										{% if student.is_final_project_completed %}
										<p>Submitted</p>
										{% else %}
										<p>Not Submitted</p>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-xxl-5 d-flex">
						<div class="w-100">
							<div class="card text-left">
								<div class="card-body">
									<h4 class="card-title">Update student's marks</h4>
								
								
									<form action="" method="POST">
										{% csrf_token %}
										<div class="card-body">
											<div class="row mt-4">
												<div class="col-sm-12 pb-1 mb-0">
													<label for="exampleFirst"><b>Enter the number of classes attended</b></label>
												</div>
												<div class="p-3">
													{{ form.num_class }}
												</div>
												<div class="col-sm-12 pb-1 mb-0">
													<label for="exampleFirst"><b>Enter the marks of quiz</b></label>
												</div>
												<div class="p-3">
													{{ form.num_quiz }}
												</div>
												<div class="col-sm-12 pb-1 mb-0">
													<label for="exampleFirst"><b>Enter the marks of assignment</b></label>
												</div>
												<div class="p-3">
													{{ form.num_assignment }}
												</div>
												<div class="col-sm-12 pb-1 mb-0">
													<label for="exampleFirst"><b>Final project completed or not?</b></label>
													<span class="ml-4">{{ form.is_final_project_completed }}
													</span>
												</div>
												<div class="col-sm-12 pb-3 mt-4">
													<input class="form-control" id="exampleLast" type="submit"
														style="background-color: #0a8f89;color: white;" value="Update marks" />
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
		</main>
	</div>
</div>

<script src={% static "website/js/app.js" %}></script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
		var gradient = ctx.createLinearGradient(0, 0, 0, 225);
		gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
		gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
		// Line chart
		new Chart(document.getElementById("chartjs-dashboard-line"), {
			type: "line",
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "Sales ($)",
					fill: true,
					backgroundColor: gradient,
					borderColor: window.theme.primary,
					data: [
						2115,
						1562,
						1584,
						1892,
						1587,
						1923,
						2566,
						2448,
						2805,
						3438,
						2917,
						3327
					]
				}]
			},
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				tooltips: {
					intersect: false
				},
				hover: {
					intersect: true
				},
				plugins: {
					filler: {
						propagate: false
					}
				},
				scales: {
					xAxes: [{
						reverse: true,
						gridLines: {
							color: "rgba(0,0,0,0.0)"
						}
					}],
					yAxes: [{
						ticks: {
							stepSize: 1000
						},
						display: true,
						borderDash: [3, 3],
						gridLines: {
							color: "rgba(0,0,0,0.0)"
						}
					}]
				}
			}
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Pie chart
		new Chart(document.getElementById("chartjs-dashboard-pie"), {
			type: "pie",
			data: {
				labels: ["Lecture", "Pravtical", "Assignment"],
				datasets: [{
					data: [4306, 3801, 1689],
					backgroundColor: [
						window.theme.primary,
						window.theme.warning,
						window.theme.danger
					],
					borderWidth: 5
				}]
			},
			options: {
				responsive: !window.MSInputMethodContext,
				maintainAspectRatio: false,
				legend: {
					display: true
				},
				cutoutPercentage: 75
			}
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Bar chart
		new Chart(document.getElementById("chartjs-dashboard-bar"), {
			type: "bar",
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "This year",
					backgroundColor: window.theme.primary,
					borderColor: window.theme.primary,
					hoverBackgroundColor: window.theme.primary,
					hoverBorderColor: window.theme.primary,
					data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
					barPercentage: .75,
					categoryPercentage: .5
				}]
			},
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				scales: {
					yAxes: [{
						gridLines: {
							display: false
						},
						stacked: false,
						ticks: {
							stepSize: 20
						}
					}],
					xAxes: [{
						stacked: false,
						gridLines: {
							color: "transparent"
						}
					}]
				}
			}
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var markers = [{
			coords: [31.230391, 121.473701],
			name: "Shanghai"
		},
		{
			coords: [28.704060, 77.102493],
			name: "Delhi"
		},
		{
			coords: [6.524379, 3.379206],
			name: "Lagos"
		},
		{
			coords: [35.689487, 139.691711],
			name: "Tokyo"
		},
		{
			coords: [23.129110, 113.264381],
			name: "Guangzhou"
		},
		{
			coords: [40.7127837, -74.0059413],
			name: "New York"
		},
		{
			coords: [34.052235, -118.243683],
			name: "Los Angeles"
		},
		{
			coords: [41.878113, -87.629799],
			name: "Chicago"
		},
		{
			coords: [51.507351, -0.127758],
			name: "London"
		},
		{
			coords: [40.416775, -3.703790],
			name: "Madrid "
		}
		];
		var map = new JsVectorMap({
			map: "world",
			selector: "#world_map",
			zoomButtons: true,
			markers: markers,
			markerStyle: {
				initial: {
					r: 9,
					strokeWidth: 7,
					stokeOpacity: .4,
					fill: window.theme.primary
				},
				hover: {
					fill: window.theme.primary,
					stroke: window.theme.primary
				}
			}
		});
		window.addEventListener("resize", () => {
			map.updateSize();
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		document.getElementById("datetimepicker-dashboard").flatpickr({
			inline: true,
			prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
			nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
		});
	});
</script>
{% endblock %}