{% extends 'webbase.html' %}
{% block title %}Password Reset form{% endblock %}
{% block content %}

<div class="card login-form" style="margin: 2rem !important; ">
    <div class="card-body">
        <h3 class="card-title text-center">Reset password</h3>

        <div class="card-text">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Enter your email address and we will send you a link to reset your
                        password.</label>
                        <input type="email" name="email" class="form-control form-control-sm" placeholder="Enter your email address" autocomplete="email" maxlength="254" required id="id_email">
                        {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-info btn-block">Send password reset email</button>
            </form>
        </div>
    </div>
</div>

<!-- <div class="wrapper m-3">
    <h2>Forget Password</h2>
    <div class="main">
        <div class="container-fluid ">
            <main class="content">
                <div class="row ">
                    <div class="card w-100">
                        <article class="card-body">
                            <form method="post">
                                {% for field in form %}
                                <p>
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                                {% endfor %}
                                </p>
                                {% endfor %}
                                <button class="btn btn-info" type="submit">Submit</button>
                            </form>
                        </article>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div> -->
{% endblock %}