{% extends 'webbase.html' %}
<h3 style="font-weight: 400 !important; ">
    {% block title %}Password reset Done{% endblock %}
</h3>
{% block content %}
<div class="row" style="margin-top: 2rem">
        <h2>Password reset complete</h2>
        <div class="card">
            <article class="card-body">
                <p>
                    Your password has been set. You may go ahead and <a href="{% url 'accounts:login' %}">sign in</a>
                    now.
                </p>
            </article>
        </div>
</div>
{% endblock %}