{% extends 'webbase.html' %}
{% load static %}
{% block content %}
<div class="container-fluid login-page" style="margin-bottom: 3rem;margin-top: 2rem;">
  <div class="container ">
    {% include 'messages.html' %}
    <div class="row ">
      <div class="col-sm-10 login-box">
        <div class="row">
          <div class="col-lg-8 col-md-7 log-det">
            <!-- <div class="small-logo">
                                <i class="fab fa-asymmetrik"></i> Style Login
                            </div> -->
            <h2>Sign in to Karkhana</h2>
            <!-- <div class="row">
                                <ul>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div> -->
            <!-- <div class="row">
              <p class="small-info">Only applicable for <strong>Student</strong> account</p>
            </div> -->
            <div class="content-section text-box-cont">
              
              {% if error_message %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>{{ error_message }}</strong> 
                </div>
                
                <script>
                  $(".alert").alert();
                </script>
              {% endif %}
                
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
                <fieldset class="form-group">
                  <div id="div_id_username" class="control-group">
                    {{ form.email }}
                  </div>
                  <div id="div_id_password" class="control-group">
                    {{ form.password }}
                  </div>

                </fieldset>
                <div class="row justify-content-center form-group">
                  <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                  </small>
                </div>

                <div class="row justify-content-center form-group">
                  <div>
                    <button class="btn btn-outline-info" type="submit">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-md-5 box-de">
            <div class="ditk-inf">
              <h2 class="w-100" style="color: white;">Didn't Have an Account </h2>
              <p>Simply Create your account by clicking the Signup Button</p>
              <a href={% url "accounts:signup" %}>
                <button type="button" class="btn btn-outline-light">SIGN UP</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section mb-0 pb-0 bg-theme-light clearfix" style="padding-top: 0 !important">
  <div class="row">
    <div class="col-md-8 offset-1" id="get-involved" style="margin-bottom: 1rem">
      <div class="container">
        <h2 class="nott t600 display-4 register" style="margin-top: 1rem; margin-bottom: 1rem">
          K-12 Maker Program
        </h2>
        <p style="font-size: 1rem">
          Know more about K-12 Maker Programs.
        </p>
        <br />
        <a href="{% url 'home' %}" class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
          style="margin-bottom: 2rem !important"><span style="letter-spacing: 1px !important">Get Started</span></a>
      </div>
    </div>
  </div>
  <!-- <img src="" alt="Footer Image" class="footer-img" /> -->
</div>
{% endblock %}