.body-font {
font-family: 'Poppins', sans-serif;
}

.blog-card:hover {
  transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.5s;
}
.blog-card {
width:18rem;
}

/* DESKTOP CSS */
@media only screen and (min-width: 768px) {

#desktop-no-show {
 display:none;
}

.header-image {
height:300px;

}
.feature-image {
height:70px;
}

.feature-font {
font-size: 16px;
font-family: 'Poppins', sans-serif;
}
.blog-card-image {
height:150px;
}
.blog-card-content {
font-size:14px;
}
}

/* MOBILE CSS */
@media only screen and (max-width: 768px) {
#mobile-no-show {
 display:none;
}
.header-image {
height:150px;

}
.feature-image {
height:40px;
}

.feature-font {
font-size: 10px;
font-family: 'Poppins', sans-serif;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.blog-card {
width:16rem;
}
.blog-card-image {
height:120px;
}
.blog-card-content {
font-size:12px;
}
}
  /* For mobile phones: */