{% extends "blogbase.html" %}
{% load static %}
{% block content %}
<!-- Circuits Content -->
<header class="masthead" style="background-image: url('{% static 'blogs/img/homebg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Blog</h1>
          <span class="subheading">
            {% if category %}
            {{ category.name }}
            {% else %}
            All
            {% endif %}
            Blogs by Karkhana Makerspace
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Circuits Content -->
<div class="container">

  <div class="row mx-auto justify-content-center" style="width: 100% !important">
    {% for i in queryset %}
    <a href="{% url 'blogs:post-detail' i.id %}" style="text-decoration: none !important">
      <div class="card" style="width: 18rem; margin: 1rem; height: fit-content">
        {% if i.img %}
        <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" />
        {% endif %}
        <div class="card-body">
          <p class="card-text" style="margin-top: 0; font-size: 18px">
            {{i.title}}
          </p>
          <hr />
          <p class="text-muted" style="margin: 0 !important; font-size: 16px">
            By {{i.user.username}}
          </p>
        </div>
      </div>
    </a>
    {% endfor %}

  </div>
  <hr />
</div>
<!-- Circuits Content -->
{% endblock %}