{% extends 'blogbase.html' %}
{% load static %}
{% block content %}
<!-- Page Header -->
{% if alert_message %}
<script>
  alert('{{ alert_message }}')
</script>
{% endif %}
  
<header class="masthead" style="background-image: url('{% static 'blogs/img/post-bg.jpg'%}');height: 400px;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading" style="text-align: center;">
          <h1>Caution!</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container demo">
  <div class="col-lg-12 justify-content-center text-center">
    <h3 style="font-weight: 400 !important; margin-top: 2rem">
       Are you sure that you want to <span style="color: lightseagreen">delete</span> the post?
      
    </h3>
  </div>
  <div class="col-lg-12 justify-content-center">
    <div class="row">
      <div class="col-md-12">
        <span class="anchor" id="formComplex"></span>
        <!-- form complex example -->
        <div class="card card-outline-secondary" style="margin-bottom: 2rem !important">

          <form action="" method="POST">
            {% csrf_token %}
            <div class="card-body">
              <div class="row mt-4">
                <div class="col-lg-12 justify-content-center text-center">
                  <h4 style="font-weight: 400 !important; margin-top: 2rem">
                    Type in your account's password to confirm
                  </h4>
                  <br>
                  <div class="col-sm-12 pb-3">
                      <input type="password" class="form-control" name="validation_password" id="">
                    <!-- {{ form.validation_password }} -->
                  </div>
                  
                </div>
                <br>
                <div class="col-lg-12 justify-content-center text-center">
                    <input class="form-control" type="submit"
                    style="background-color: #0a8f89;color: white;" value="submit" />
                </div>
                <!-- <div class="col-lg-8 justify-content-center text-center">
                  <input class="form-control" id="exampleLast" type="submit"
                    style="background-color: #0a8f89;color: white;" value="submit" />
                </div> -->
              </div>
            </div>
          </form>
          <!--/card-->
        </div>
        <div class="col-md-4" id="illustration">
          <img src="{% static 'blogs/images/illust.jpeg'%}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}