{% extends "webbase.html "%}
{% load static %}
{% block content %}
      <section id="content" class="soafablab" style="margin-top: 2rem;">
        <div class="content-wrap pt-3 pb-0">
          <div class="alert alert-warning alert-dismissible fade show text-center" role="alert" style="margin-bottom: 0!important;letter-spacing: 1px;">
            <strong>* Due to COVID19 Pandemic</strong> AICDSU activities are being conducted virtually.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div
            class="ohidden d-flex align-items-center"
            data-bottom-top="background-position:0px 200px;"
            data-top-bottom="background-position:0px -400px;"
            style="
              background-image: url('{% static "website/images/labs/aicdsu.png" %}');
              background-size: cover;
              background-attachment: scroll!important;
              height: 350px;
              width: 100%;
            "
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h1 class="text-white" style="font-size: 55px;">
                    AICDSU Lab
                  </h1>
                  <!-- <p style="font-size: 20px!important;color: white;">This Trading Course Is The #1 Cryptocurrency Trading Course TradersUse To Learn, Practise and Drastically Improve Their Investment Results.</p> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Section - 1 -->

          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;padding-bottom: 0!important;" id="certified-desktop">
            <div class="container clearfix">
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 pr-5">
                  <div class="heading-block mb-4 nobottomborder">
                    <h3 class="nott t600">
                      Activities
                    </h3>
                    <br /><br />
                    <p style="font-size: 16px;">At AIC-DSU Innovation Foundation there are no boundaries and we give voice to a wide range of different perspectives. The goal is to work collaboratively to generate long-term “breakthroughs”. AIC-DSU Innovation Foundation brings state of the art laboratories from these organizations for the benefit of our incubates. Labs for most of the domains of interest are available for our incubatee.</p>
                    
                  </div>
                  <div>
                    <a
                      href="https://aicdsu.foundation/"
                      class=""
                      style="letter-spacing: 1px;font-size: 1rem;"
                      >View AICDSU website for more info.</a
                    >
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="card shadow-sm border-light">
                    <img src="{% static "website/images/makerlabs/a-2.jpg" %}" class="card-img-top" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Section 1 Mobile View -->
          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;padding-bottom: 0!important;padding-top: 1rem!important" id="certified-mobile">
            <div class="container clearfix text-center">
              <h3 class="nott t600" style="font-size: 22px!important;">
                      Activities
                    </h3>
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 col-sm-6" style="margin-bottom: 1rem;">
                  <div class="card shadow-sm border-light">
                    <img src="{% static "website/images/makerlabs/a-2.jpg" %}" class="card-img-top" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="heading-block mb-4 nobottomborder" style="text-align: justify;">
                    <p style="font-size: 16px;">At AIC-DSU Innovation Foundation there are no boundaries and we give voice to a wide range of different perspectives. The goal is to work collaboratively to generate long-term “breakthroughs”. AIC-DSU Innovation Foundation brings state of the art laboratories from these organizations for the benefit of our incubates. Labs for most of the domains of interest are available for our incubatee.</p>
                  </div>
                  <!-- <div>
                    <a
                      href="#"
                      class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                      >Book Now</a
                    >
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Section - 2 -->

          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;background-color: white;padding-bottom: 0!important;" id="certified-desktop">
            <div class="container clearfix">
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 col-sm-6">
                  <div class="card shadow-sm border-light">
                    <img src="{% static 'website/images/makerlabs/a-3.jpg' %}" class="card-img-top" />
                  </div>
                </div>
                <div class="col-md-6 pr-5">
                  <div class="heading-block mb-4 nobottomborder">
                    
                    <br><br>
                    <p style="font-size: 16px;">Training and intervention package - Regular workshops / seminars would be conducted for the benefit of the promoters and in addition where possible technical training programmes would be organized for the employees of the companies. Additional specialized or customized training programmes would be organized when requirements</p>
                  </div>
                  <!-- <div>
                    <a
                      href="./level1.html"
                      class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                      >Book Now</a
                    >
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <!--Section 2 Mobile View -->
          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;background-color: white;padding-bottom: 0!important;padding-top: 1rem!important" id="certified-mobile">
            <div class="container clearfix text-center">
             
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 col-sm-6" style="margin-bottom: 1rem;">
                  <div class="card shadow-sm border-light">
                    <img src="{% static "website/images/makerlabs/a-3.jpg" %}" class="card-img-top" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="heading-block mb-4 nobottomborder">
                    <p style="font-size: 16px;text-align: justify;">Training and intervention package - Regular workshops / seminars would be conducted for the benefit of the promoters and in addition where possible technical training programmes would be organized for the employees of the companies. Additional specialized or customized training programmes would be organized when requirements</p>
                  </div>
                  <!-- <div>
                    <a
                      href="./level1.html"
                      class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                      >VIEW NOW</a
                    >
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Section - 3 -->

          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;padding-bottom: 0!important;" id="certified-desktop">
            <div class="container clearfix">
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 pr-5">
                  <div class="heading-block mb-4 nobottomborder">
                    <h3 class="nott t600">
                      Current Events
                    </h3>
                    <br /><br />
                    <ul
                      style="
                        font-size: 16px;
                        padding-inline-start: 40px;
                        letter-spacing: 1px;
                      "
                    >
                      <li style="margin-bottom: 5px">
                        <b>IoT with Data Analytics</b>
                      </li>
                      <li style="margin-bottom: 5px">
                        <b>Fee:</b> INR
                        <span style="text-decoration: line-through">10000</span>
                        8000 /-<br />
                        <span style="font-size: 12px"
                          >*20% discount. GST included.</span
                        >
                      </li>
                      <li style="margin-bottom: 5px">
                        <b>Course start:</b> 1 November 2020
                      </li>
                      <li style="margin-bottom: 5px">
                        <b>Duration:</b> 6 Weeks
                      </li>
                      <li style="margin-bottom: 5px">
                        <b>Per referral 500 Off</b>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <a
                      href="{% url "iotda" %}"
                      class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                      style="letter-spacing: 1px!important;"
                      >Register Now</a
                    >
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="card shadow-sm border-light">
                    <img src="{% static "website/images/makerlabs/a-4.jpg" %}" class="card-img-top" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Section 3 Mobile View -->
          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;padding-bottom: 0!important;padding-top: 1rem!important" id="certified-mobile">
            <div class="container clearfix text-center">
              <h3 class="nott t600" style="font-size: 22px!important;">
                      Current Events
                    </h3>
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 col-sm-6" style="margin-bottom: 1rem;">
                  <div class="card shadow-sm border-light">
                    <img src="{% static "website/images/makerlabs/a-4.jpg" %}" class="card-img-top" />
                  </div>
                </div>
                <div class="col-md-6 pr-5">
                  <div class="heading-block mb-4 nobottomborder">
                    <ul
                      style="
                        font-size: 16px;
                        padding-inline-start: 40px;
                        letter-spacing: 1px;
                        text-align: left;
                      "
                    >
                      <li style="margin-bottom: 5px">
                        <b>IoT with Data Analytics</b>
                      </li>
                      <li style="margin-bottom: 5px">
                        <b>Fee:</b> INR
                        <span style="text-decoration: line-through">10000</span>
                        8000 /-<br />
                        <span style="font-size: 12px"
                          >*20% discount. GST included.</span
                        >
                      </li>
                      <li style="margin-bottom: 5px">
                        <b>Course start:</b> 1 November 2020
                      </li>
                      <li style="margin-bottom: 5px">
                        <b>Duration:</b> 6 Weeks
                      </li>
                      <li style="margin-bottom: 5px">
                        <b>Per referral 500 Off</b>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <a
                      href="{% url "iotda" %}"
                      class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                      style="letter-spacing: 1px!important;"
                      >Register Now</a
                    >
                  </div>
                </div>
                
              </div>
            </div>
          </div>

          <!-- Card Section -->
           
          <div
        class="section mb-0 pb-0 bg-theme-light clearfix"
        style="padding-top: 0 !important;margin-top: 0!important;"
      >
        <div class="row">
          <div
            class="col-md-8 offset-1"
            id="get-involved"
            style="margin-bottom: 1rem"
          >
            <div class="container">
              <h2
                class="nott t600 display-4 register"
                style="margin-top: 1rem; margin-bottom: 1rem"
              >
                Have any questions?
              </h2>
              <p style="font-size: 1rem">
                We've the answers for you at every step.
              </p>
              <br />
              <a
                href="{% url "faq" %}"
                class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                style="margin-bottom: 2rem !important"
                ><span style="letter-spacing: 1px !important"
                  >Let us help you</span
                ></a
              >
            </div>
          </div>
        </div>
        <!-- <img src="" alt="Footer Image" class="footer-img" /> -->
      </div>
      </section>
      {% endblock %}
       