{% extends 'webbase.html' %} {% load static %} {% block content %}
<div class="container demo">
  <div class="col-lg-12 justify-content-center text-center">
    <h3 style="font-weight: 400 !important; margin-top: 2rem">
      Book Your <span style="color: lightseagreen">Live Demo</span> in One
      minute
    </h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <span class="anchor" id="formComplex"></span>
      <!-- form complex example -->
      <div class="card card-outline-secondary" style="margin-bottom: 2rem !important">
        <!-- <div class="card-header">
                <h3 class="mb-0">Complex Form Example</h3>
              </div> -->
        <form method="post" class="form-group">
          {% csrf_token %}
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-sm-6 pb-3">
                <label for="exampleFirst">Student's First Name
                  <span style="color: red !important">*</span></label>
                {{ form.examplefirst }}
              </div>
              <div class="col-sm-6 pb-3">
                <label for="exampleLast">Student's Middle Name</label>
                {{ form.examplemiddle }}
              </div>
              <div class="col-sm-6 pb-3">
                <label for="exampleLast">Student's Last Name</label>
                {{ form.examplelast }}
              </div>
              <div class="col-sm-6 pb-3">
                <label for="exampleFirst">Parent's First Name
                  <span style="color: red !important">*</span></label>
                {{ form.parentfirst }}
              </div>
              <div class="col-sm-6 pb-3">
                <label for="exampleLast">Parent's Middle Name</label>
                {{ form.parentmiddle }}
              </div>
              <div class="col-sm-4 pb-3">
                <label for="exampleLast">Parent's Last Name</label>
                {{ form.parentlast }}
              </div>
              <div class="col-sm-6 pb-3">
                <label for="exampleCity">Parent's Email Id
                  <span style="color: red !important">*</span></label>
                {{ form.parentemail }}
              </div>
              <div class="col-sm-6 pb-3">
                <label for="exampleCity">Student's Email Id</label>
                {{ form.semail }}
              </div>
              <div class="col-sm-6 pb-3">
                <label for="exampleSt">Country Code
                  <span style="color: red !important">*</span></label>
                {{ form.countrycode }}
              </div>

              <div class="col-sm-6 pb-3">
                <label for="exampleZip">Parent's Mobile Number
                  <span style="color: red !important">*</span></label>
                {{ form.mobile }}
              </div>
              <div class="col-sm-6 pb-3">
                <label for="exampleSt">State</label>
                {{ form.state }}
              </div>
              <div class="col-sm-6 pb-3">
                <label for="exampleZip">City</label>
                {{ form.city }}
              </div>
              <div class="col-sm-9 pb-3">
                <label for="exampleSt">Kid's grade / class <span style="color: red">*</span></label>
                {{ form.grade }}
              </div>
              <div class="col-sm-4 pb-3">
                <label for="exampleSt">Your Hobbies </label>
                {{ form.hobbies1 }}
              </div>
              <div class="col-sm-4 pb-3">
                <label for="exampleSt"><span style="color: white">*</span></label>
                {{ form.hobbies2 }}
              </div>
              <div class="col-sm-4 pb-3">
                <label for="exampleSt"><span style="color: white">*</span></label>
                {{ form.hobbies3 }}
              </div>

              <div class="col-12 pb-3">
                <label for="exampleAccount">Do you have laptop / PC at home?
                  <span style="color: red !important">*</span></label>
                <br />
                {{ form.laptop }}
              </div>
              <div class="col-12">
                <p>
                  By registering here, I agree to Karkhana
                  <a href="{% url "terms" %}" style="
                    text-decoration: none !important;
                    background-color: transparent !important;
                  ">Terms & Conditions</a>
                  and
                  <a href="{% url "privacy" %}" style="
                    text-decoration: none !important;
                    background-color: transparent !important;
                  ">Privacy Policy</a>
                </p>
                <div class="float-left">
                  <input class="btn btn-primary" type="submit" value="Submit" />
                  <a href="{% url "demoregistration" %}" class="" style="
                    margin-left: 1rem;
                    background-color: transparent !important;
                  "><span style="letter-spacing: 1px !important">RESET</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--/card-->
    </div>
    <div class="col-md-4" id="illustration">
      <img src="{% static "website/images/illust.jpeg" %}" alt="" />
    </div>
  </div>
</div>
<div class="section mb-0 pb-0 bg-theme-light clearfix" style="padding-top: 0 !important">
  <div class="row">
    <div class="col-md-8 offset-1" id="get-involved" style="margin-bottom: 1rem">
      <div class="container">
        <h2 class="nott t600 display-4 register" style="margin-top: 1rem; margin-bottom: 1rem">
          Have any questions?
        </h2>
        <p style="font-size: 1rem">We've the answers for you at every step.</p>
        <br />
        <a href="{% url "faq" %}" class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
          style="margin-bottom: 2rem !important"><span style="letter-spacing: 1px !important">Let us help you</span></a>
      </div>
    </div>
  </div>
  <!-- <img src="" alt="Footer Image" class="footer-img" /> -->
</div>

{% endblock %}