{% extends 'webbase.html' %}
{% load static %}
{% block content %}
      <section class="story">
        <div>
          <div
            class="section mb-0 pb-0 bg-theme-light clearfix"
            style="padding-top: 50px; margin: 0em"
          >
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-8 offset-1" style="margin-bottom: 1rem">
                  <h2 class="nott t600 display-4" style="text-align: center">
                    <i class="icon-book-reader"></i> Event
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <h2 class="text-center text-muted py-3">Karkhana Timeline</h2> -->
        <p></p>
        <div class="container">
          <div class="row">
            <iframe
              src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Findiakarkhana%2Fposts%2F1620558088101272&show_text=true&width=552&height=766&appId"
              width="552"
              height="766"
              style="border: none; overflow: visible; margin: 0.5rem"
              scrolling="no"
              frameborder="0"
              allowTransparency="true"
              allow="encrypted-media"
            ></iframe>
            <iframe
              src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Findiakarkhana%2Fposts%2F1610983285725419&show_text=true&width=552&height=669&appId"
              width="552"
              height="669"
              style="border: none; overflow: hidden; margin: 0.5rem"
              scrolling="no"
              frameborder="0"
              allowTransparency="true"
              allow="encrypted-media"
            ></iframe>
            <iframe
              src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Findiakarkhana%2Fposts%2F1620558088101272&show_text=true&width=552&height=766&appId"
              width="552"
              height="766"
              style="border: none; overflow: hidden; margin: 0.5rem"
              scrolling="no"
              frameborder="0"
              allowTransparency="true"
              allow="encrypted-media"
            ></iframe>
          </div>
        </div>
      </section>

     {% endblock %}