{% extends 'webbase.html' %}
{% load static %}
{% block content %}
      <section>
        <div>
          <div
            class="section mb-0 pb-0 bg-theme-light clearfix"
            style="padding-top: 50px; margin: 0em;"
          >
            <div class="container">
              <div class="row">
                <div class="col-md-8 offset-1" style="margin-bottom: 1rem;">
                  <h2 class="nott t600 display-4" style="text-align: center;">
                    <i class="icon-code1"></i> Join Us
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h2 class="text-center text-muted py-3">Career</h2>

      <!-- Makers Section -->
      <section>
        <div class="container">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore hic dolorum eveniet, reprehenderit maxime nemo. Quibusdam, neque! Adipisci, impedit. Sequi iusto, a consequatur ratione deleniti rem ab eligendi. Accusamus tenetur expedita a voluptates nobis obcaecati velit distinctio tempore aspernatur saepe! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, enim? Voluptates cupiditate in modi laboriosam cum reprehenderit voluptas vel, deserunt suscipit voluptatibus exercitationem totam! A sunt dolores vel quae? Doloribus excepturi iure laboriosam error ipsum quaerat iusto, facilis quia doloremque aperiam natus perferendis quod, commodi suscipit quasi eos officiis voluptatum? Voluptates sed doloribus cupiditate accusamus architecto reiciendis quod, vitae dolor!
          </p>
          
        </div>
      </section>
      <h2 class="text-center text-muted py-3">Become Karkhana Member</h2>
      <section>
        <div class="container">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore hic dolorum eveniet, reprehenderit maxime nemo. Quibusdam, neque! Adipisci, impedit. Sequi iusto, a consequatur ratione deleniti rem ab eligendi. Accusamus tenetur expedita a voluptates nobis obcaecati velit distinctio tempore aspernatur saepe! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, enim? Voluptates.
          </p>
           <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="row mt-1">
            <div class="col-lg-12 mt-5 mt-lg-0">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 4 chars"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      data-rule="email"
                      data-msg="Please enter a valid email"
                    />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 8 chars of subject"
                  />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    data-rule="required"
                    data-msg="Please write something for us"
                    placeholder="Message"
                  ></textarea>
                  <div class="validate"></div>
                </div>
                <div class="text-center">
                  <a
                    href="#"
                    class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                    >Request A Callback</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
        </div>
      </section>
      <section>
        <div>
          <div
            class="section mb-0 pb-0 bg-theme-light clearfix"
            style="padding-top: 50px;"
          >
            <div class="container">
              <div class="row">
                <div class="col-md-8 offset-1" style="margin-bottom: 1rem;">
                  <h2 class="nott t600 display-4">Want to Collaborate?</h2>
                  <br />
                  <h4 class="t300 mb-4">
                    Call/WhatsApp <a>+(91)93371-95193</a>
                  </h4>
                  <a
                    href="mailto:hello@karkhana.co.in"
                    class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                    >Email Us</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}