{% extends 'webbase.html' %}
{% load static %}
{% block content %}
      <section>
        <div>
          <div
            class="section mb-0 pb-0 bg-theme-light clearfix"
            style="padding-top: 50px; margin: 0em;"
          >
            <div class="container">
              <div class="row">
                <div class="col-md-8 offset-1" style="margin-bottom: 1rem;">
                  <h2 class="nott t600 display-4" style="text-align: center;">
                    <i class="icon-code1"></i> Make With Us
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Makers Section -->
      <section>
        <div class="jumbotron jumbotron-fluid" style="height: 50vh;">
  <div class="container">
    <h1 class="display-4" style="color: white;">Fluid jumbotron</h1>
    <p class="lead" style="color: white;">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
      </section>
      <p></p>
      <h2 class="text-center text-muted py-3" style="margin-bottom: 0;">Our Space, Your Making</h2>
      <div class="container">
            <div class="row justify-content-between">
              <div class="col-lg-4 col-md-6 my-4" style="text-align: center;">
                <i
                  class="icon-star color ml-0 mb-3 i-plain d-block fnone"
                  style="width: 100% !important;"
                ></i>
                <h4 class="mb-3">Makers Badge</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur blanditiis reprehenderit iste ea esse fugit numquam modi dicta illo nam.</p>
              </div>

              <div class="col-lg-4 col-md-6 my-4" style="text-align: center;">
                <i
                  class="icon-id-badge color ml-0 mb-4 i-plain d-block fnone"
                  style="width: 100% !important;"
                ></i>
                <h4 class="mb-3">Certificate of Recognition</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur blanditiis reprehenderit iste ea esse fugit numquam modi dicta illo nam.</p>
              </div>

              <div class="col-lg-4 col-md-6 my-4" style="text-align: center;">
                <i
                  class="icon-group color ml-0 mb-3 i-plain d-block fnone"
                  style="width: 100% !important;"
                ></i>
                <h4 class="mb-3">Makers Community</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur blanditiis reprehenderit iste ea esse fugit numquam modi dicta illo nam.</p>
              </div>
            </div>
          </div>
      <section>
        <div>
          <div
            class="section mb-0 pb-0 bg-theme-light clearfix"
            style="padding-top: 50px;"
          >
            <div class="container">
              <div class="row">
                <div class="col-md-8 offset-1" style="margin-bottom: 1rem;">
                  <h2 class="nott t600 display-4">Want to Collaborate?</h2>
                  <br />
                  <h4 class="t300 mb-4">
                    Call/WhatsApp <a>+(91)93371-95193</a>
                  </h4>
                  <a
                    href="mailto:hello@karkhana.co.in"
                    class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                    >Email Us</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}