{% extends 'webbase.html' %}
{% load static %}
{% block content %}
      <section class="story">
        <div>
          <div
            class="section mb-0 pb-0 bg-theme-light clearfix"
            style="padding-top: 50px; margin: 0em"
          >
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-8 offset-1" style="margin-bottom: 1rem">
                  <h2 class="nott t600 display-4" style="text-align: center">
                    <i class="icon-book-reader"></i> Our Mentor
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <h2 class="text-center text-muted py-3">Karkhana Timeline</h2> -->
        <p></p>
        <div class="container">
          <div
            class="card mb-3"
            style="
              max-width: 100%;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static "images/authors/1.jpg" %}" class="card-img" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Eaque fugit culpa, deserunt earum, ipsum vel, ut quod
                    esse rem labore deleniti! Quas eaque cupiditate ipsam quae
                    voluptatibus cum facere quo! Placeat sint ipsam aspernatur
                    eveniet iste ex dolores nulla dolorem.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="card mb-3"
            style="
              max-width: 100%;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Eaque fugit culpa, deserunt earum, ipsum vel, ut quod
                    esse rem labore deleniti! Quas eaque cupiditate ipsam quae
                    voluptatibus cum facere quo! Placeat sint ipsam aspernatur
                    eveniet iste ex dolores nulla dolorem.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <img src="{% static "website/images/authors/1.jpg" %}" class="card-img" alt="..." />
              </div>
            </div>
          </div>
        </div>

        <!-- <h2 class="text-center text-muted py-3">In Press</h2> -->
        <!-- <div class="d-flex justify-content-around">
          <div
            class="card"
            style="
              width: 18rem;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <img src="./images/press/1.jpg" class="card-img-top" alt="..." />
          </div>
          <div
            class="card"
            style="
              width: 18rem;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <img src="./images/press/2.jpg" class="card-img-top" alt="..." />
          </div>
          <div
            class="card"
            style="
              width: 18rem;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <img src="./images/press/3.jpg" class="card-img-top" alt="..." />
          </div>
          <div
            class="card"
            style="
              width: 18rem;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <img src="./images/press/4.jpg" class="card-img-top" alt="..." />
          </div>
        </div> -->

        <hr />
      </section>
{% endblock %}