{% extends 'webbase.html' %}
{% load static %}
{% block content %}
      <section style="margin-top: 1rem">
        <div class="bg-theme-light" id="certified-desktop">
          <div
            class="shadow-sm hero-features-left bgcolor gradient"
            style="margin-top: 5rem"
          >
            <div class="row">
              <div class="col-md-8 mt-3 mt-md-0">
                <div class="feature-box fbox-plain fbox-small fbox-dark mb-0">
                  <h2
                    class="text-white"
                    style="
                      margin: 0;
                      letter-spacing: 2px;
                      text-align: right;
                      font-size: 3rem !important;
                    "
                  >
                    Our Makers
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Mobile Version -->
        <div class="bg-theme-light" id="certified-mobile">
          <div
            class="shadow-sm hero-features-left bgcolor gradient"
            style="margin-top: 5rem; padding-top: 20px !important"
          >
            <div class="row">
              <div class="col-md-8 mt-3 mt-md-0">
                <div
                  class="feature-box fbox-plain fbox-small fbox-dark mb-0"
                  style="
                    padding-left: 0 !important;
                    text-align: center !important;
                    color: white !important;
                  "
                >
                  <h2
                    class="text-white"
                    style="
                      margin: 0;
                      letter-spacing: 2px;
                      font-size: 2rem !important;
                    "
                  >
                    Our Makers
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Makers Section -->
      <div class="container">
        <div class="row justify-content-around">
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-top: 0.8rem">
            <img
              src="{% static "website/images/makers/karkhanasetup.jpg" %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="text-align: center">
              <h4 class="card-title">DIY Alexa Assisstant</h4>
            </div>
          </div>
        </div>
      </div>
      <section>
        <div
          class="section mb-0 pb-0 bg-theme-light clearfix"
          style="padding-top: 50px"
        >
          <div class="container">
            <div class="row">
              <div
                class="col-md-8 offset-1"
                id="get-involved"
                style="margin-bottom: 1rem"
              >
                <h2 class="nott t600 display-4">Get Involved!</h2>
                <p style="font-size: 1.1rem">
                  Don’t settle with a world where you have to make do with
                  things, be a part of one where you can actually MAKE and DO
                  things.
                </p>
                <br />
                <a
                  href="mailto:hello@karkhana.co.in"
                  class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                  style="margin-bottom: 20px !important"
                  ><span style="letter-spacing: 1px !important"
                    >Collaborate with us</span
                  ></a
                >
              </div>
            </div>
          </div>
          <!-- <img src="" alt="Footer Image" class="footer-img" /> -->
        </div>
      </section>

    {% endblock %}