{% extends 'webbase.html' %}
{% load static %}
{% block content %}
      <section class="story" style="margin-top: 1rem">
        <section style="margin-top: 1rem">
          <div class="bg-theme-light" id="certified-desktop">
            <div
              class="shadow-sm hero-features-left bgcolor gradient"
              style="margin-top: 5rem"
            >
              <div class="row">
                <div class="col-md-8 mt-3 mt-md-0">
                  <div class="feature-box fbox-plain fbox-small fbox-dark mb-0">
                    <h2
                      class="text-white"
                      style="
                        margin: 0;
                        letter-spacing: 2px;
                        text-align: right;
                        font-size: 3rem !important;
                      "
                    >
                      Our Story
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Mobile Version -->
          <div class="bg-theme-light" id="certified-mobile">
            <div
              class="shadow-sm hero-features-left bgcolor gradient"
              style="margin-top: 5rem; padding-top: 20px !important"
            >
              <div class="row">
                <div class="col-md-8 mt-3 mt-md-0">
                  <div
                    class="feature-box fbox-plain fbox-small fbox-dark mb-0"
                    style="
                      padding-left: 0 !important;
                      text-align: center !important;
                      color: white !important;
                    "
                  >
                    <h2
                      class="text-white"
                      style="
                        margin: 0;
                        letter-spacing: 2px;
                        font-size: 2rem !important;
                      "
                    >
                      Our Story
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <h2 class="text-center text-muted py-3">Karkhana Timeline</h2>

        <div class="container py-2 mt-4 mb-4">
          <!-- timeline item 1 -->
          <div class="row no-gutters">
            <div class="col-sm"><!--spacer--></div>
            <!-- timeline item 1 center dot -->
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
              </h5>
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
            </div>
            <!-- timeline item 1 event content -->
            <div class="col-sm py-2">
              <div class="card">
                <div class="card-body">
                  <!-- <div class="float-right text-muted small">
                    Jan 9th 2019 7:00 AM
                  </div> -->
                  <h4 class="card-title text-muted">April 2016</h4>
                  <p class="card-text" style="letter-spacing: 1px">
                    First 1000 sq ft Makerspace facility, get started with maker
                    journey
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--/row-->
          <!-- timeline item 2 -->
          <div class="row no-gutters">
            <div class="col-sm py-2">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">July 2017</h4>
                  <p>Biggest Drone Flyers Day-out</p>
                </div>
              </div>
            </div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
              </h5>
              <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
            </div>
            <div class="col-sm"><!--spacer--></div>
          </div>
          <!--/row-->
          <!-- timeline item 3 -->
          <div class="row no-gutters">
            <div class="col-sm"><!--spacer--></div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
              </h5>
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
            </div>
            <div class="col-sm py-2">
              <div class="card">
                <div class="card-body">
                  <!-- <div class="float-right text-muted small">
                    Jan 11th 2019 8:30 AM
                  </div> -->
                  <h4 class="card-title">2018</h4>
                  <p>Makerfest, VSSUT Burla</p>
                </div>
              </div>
            </div>
          </div>
          <!--/row-->
          <!-- timeline item 4 -->
          <div class="row no-gutters">
            <div class="col-sm py-2">
              <div class="card">
                <div class="card-body">
                  <!-- <div class="float-right text-muted small">
                    Jan 12th 2019 11:30 AM
                  </div> -->
                  <h4 class="card-title">2018</h4>
                  <p>Most Inspiring Young Entrepreneurs</p>
                </div>
              </div>
            </div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
              </h5>
              <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
            </div>
            <div class="col-sm"><!--spacer--></div>
          </div>
          <!--/row-->
          <!-- timeline item 3 -->
          <div class="row no-gutters">
            <div class="col-sm"><!--spacer--></div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
              </h5>
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
            </div>
            <div class="col-sm py-2">
              <div class="card">
                <div class="card-body">
                  <!-- <div class="float-right text-muted small">
                    Jan 11th 2019 8:30 AM
                  </div> -->
                  <h4 class="card-title">2019</h4>
                  <p>Started Second Makerspace in Bhubaneswar</p>
                </div>
              </div>
            </div>
          </div>
          <!--/row-->
          <!-- timeline item 4 -->
          <div class="row no-gutters">
            <div class="col-sm py-2">
              <div class="card">
                <div class="card-body">
                  <!-- <div class="float-right text-muted small">
                    Jan 12th 2019 11:30 AM
                  </div> -->
                  <h4 class="card-title">2019</h4>
                  <p>Biggest IoT Workshop at KIIT University</p>
                </div>
              </div>
            </div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
              </h5>
              <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
            </div>
            <div class="col-sm"><!--spacer--></div>
          </div>
          <!--/row-->
          <!-- timeline item 3 -->
          <div class="row no-gutters">
            <div class="col-sm"><!--spacer--></div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
              </h5>
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
            </div>
            <div class="col-sm py-2">
              <div class="card">
                <div class="card-body">
                  <!-- <div class="float-right text-muted small">
                    Jan 11th 2019 8:30 AM
                  </div> -->
                  <h4 class="card-title">2019</h4>
                  <p>Music Illusion Setup at Odisha Biennale</p>
                </div>
              </div>
            </div>
          </div>
          <!--/row-->
          <!-- timeline item 4 -->
          <div class="row no-gutters">
            <div class="col-sm py-2">
              <div class="card">
                <div class="card-body">
                  <!-- <div class="float-right text-muted small">
                    Jan 12th 2019 11:30 AM
                  </div> -->
                  <h4 class="card-title">2020</h4>
                  <p>India's First Sports Innovation Festival</p>
                </div>
              </div>
            </div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
              </h5>
              <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
            </div>
            <div class="col-sm"><!--spacer--></div>
          </div>
          <!--/row-->
          <!-- timeline item 3 -->
          <div class="row no-gutters">
            <div class="col-sm"><!--spacer--></div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
              </h5>
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
            </div>
            <div class="col-sm py-2">
              <div class="card">
                <div class="card-body">
                  <!-- <div class="float-right text-muted small">
                    Jan 11th 2019 8:30 AM
                  </div> -->
                  <h4 class="card-title">2020</h4>
                  <p>Setup Makerspace in SOA University</p>
                </div>
              </div>
            </div>
          </div>
          <!--/row-->
          <!-- timeline item 4 -->
          <div class="row no-gutters">
            <div class="col-sm py-2">
              <div class="card">
                <div class="card-body">
                  <!-- <div class="float-right text-muted small">
                    Jan 12th 2019 11:30 AM
                  </div> -->
                  <h4 class="card-title">2020</h4>
                  <p>Makerspace Setup at KIIT International School</p>
                </div>
              </div>
            </div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
              </h5>
              <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
              </div>
            </div>
            <div class="col-sm"><!--spacer--></div>
          </div>
          <!--/row-->
        </div>
        <h2 class="text-center text-muted py-3">Founder Story</h2>
        <div class="container">
          <div
            class="card mb-3"
            style="
              max-width: 100%;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <div class="row no-gutters">
              <div class="col-md-4" style="margin-bottom: 1rem">
                <img
                  src="{% static "website/images/makers/founder.jpeg" %}"
                  class="card-img"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body" style="padding-top: 0 !important">
                  <p
                    class="card-text"
                    style="
                      font-size: 15px;
                      letter-spacing: 1px;
                      text-align: justify;
                    "
                  >
                    Well, I am “The Certified Engineer” which people discuss
                    over a cup of hot tea, coming from a middle-class family,
                    trying to fulfil my parent's dreams, frustrated from the
                    monotony of work, routine tasks day in and day out, and
                    seeing my fleeting ambitions, dreams, my passion diminishing
                    and striving to get out of mediocrity, <br /><br />

                    It never happens overnight, unlike the general saying. It
                    was the manifestation of a multitude of reasons over an
                    extended timeline which resulted in me kicking myself up
                    from the abyss, reigniting the lost fire, and bringing about
                    a change, a change in myself, as well as my surroundings,
                    and in turn the nation. <br /><br />

                    I was always an average percentile student, both in school,
                    as well as during Graduation. But the love for making
                    things, breaking things up, analysing them, and rebuilding
                    it entirely encapsulating the core idea behind it always had
                    my eye. It always helped me get a kinesthetic experience of
                    how and why a concept works. <br /><br />

                    That was it, I geared up for spreading the same joy of
                    making around, and reinventing the making experience. That
                    is how Karkhana Makerspace was created, a place for makers,
                    creators, innovators, artists, engineers, and hobbyists
                    alike. It is now in the process of building traction across
                    the Higher Education Sector with rapid strides and the
                    vision of changing the way of education with help of
                    hands-on learning. <br /><br />

                    Making India a progressive playground for the Makers
                    Revolution is the goal I’m pursuing, and the dream I dream
                    for each night.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2 class="text-center text-muted py-3">In Press</h2>
        <div class="d-flex justify-content-around" style="margin-bottom: 2rem">
          <div
            class="card"
            style="
              width: 13rem;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <img src="{% static "website/images/press/1.jpg" %}" class="card-img-top" alt="..." />
          </div>
          <div
            class="card"
            style="
              width: 13rem;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <img src="{% static "website/images/press/2.jpg" %}" class="card-img-top" alt="..." />
          </div>
          <div
            class="card"
            style="
              width: 13rem;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <img src="{% static "website/images/press/3.jpg" %}" class="card-img-top" alt="..." />
          </div>
          <div
            class="card"
            style="
              width: 13rem;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <img src="{% static "website/images/press/4.jpg" %}" class="card-img-top" alt="..." />
          </div>
          <div
            class="card"
            style="
              width: 13rem;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <img src="{% static "website/images/press/5.jpg" %}" class="card-img-top" alt="..." />
          </div>
          <div
            class="card"
            style="
              width: 13rem;
              border: none;
              box-shadow: none;
              transform: none;
              cursor: auto;
            "
          >
            <img src="{% static "website/images/press/6.jpg" %}" class="card-img-top" alt="..." />
          </div>
        </div>
        <div
          class="section mb-0 pb-0 bg-theme-light clearfix"
          style="padding-top: 0 !important"
        >
          <div class="row">
            <div
              class="col-md-8 offset-1"
              id="get-involved"
              style="margin-bottom: 1rem"
            >
              <div class="container">
                <h2
                  class="nott t600 display-4 register"
                  style="margin-top: 1rem; margin-bottom: 1rem"
                >
                  Get Involved!
                </h2>
                <p style="font-size: 1rem">
                  Don’t settle with a world where you have to make do with
                  things, be a part of one where you can actually MAKE and DO
                  things.
                </p>
                <br />
                <a
                  href="{% url "home" %}"
                  class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                  style="margin-bottom: 2rem !important"
                  ><span style="letter-spacing: 1px !important"
                    >Collaborate with Us</span
                  ></a
                >
              </div>
            </div>
          </div>
          <!-- <img src="" alt="Footer Image" class="footer-img" /> -->
        </div>
      </section>
{% endblock %}