{% extends 'webbase.html' %}
{% load static %}
{% block content %}
      <section style="margin-top: 1rem">
        <div class="bg-theme-light" id="certified-desktop">
          <div
            class="shadow-sm hero-features-left bgcolor gradient"
            style="margin-top: 5rem"
          >
            <div class="row">
              <div class="col-md-8 mt-3 mt-md-0">
                <div class="feature-box fbox-plain fbox-small fbox-dark mb-0">
                  <h2
                    class="text-white"
                    style="
                      margin: 0;
                      letter-spacing: 2px;
                      text-align: right;
                      font-size: 3rem !important;
                    "
                  >
                    Our Team
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Mobile Version -->
        <div class="bg-theme-light" id="certified-mobile">
          <div
            class="shadow-sm hero-features-left bgcolor gradient"
            style="margin-top: 5rem; padding-top: 20px !important"
          >
            <div class="row">
              <div class="col-md-8 mt-3 mt-md-0">
                <div
                  class="feature-box fbox-plain fbox-small fbox-dark mb-0"
                  style="
                    padding-left: 0 !important;
                    text-align: center !important;
                    color: white !important;
                  "
                >
                  <h2
                    class="text-white"
                    style="
                      margin: 0;
                      letter-spacing: 2px;
                      font-size: 2rem !important;
                    "
                  >
                    Our Team
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <h2 class="text-center text-muted py-3">Core Team</h2> -->

      <!-- Makers Section -->
      <section>
        <div class="container">
          <div class="row">
            <!--Profile Card 3-->
            <div class="col-md-4" style="margin-top: 1rem !important">
              <div class="card profile-card-3">
                <div class="background-block">
                  <img
                    src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="profile-sample1"
                    class="background"
                  />
                </div>
                <div class="profile-thumb-block">
                  <img
                    src="{% static "website/images/team/siddharth.png" %}"
                    alt="profile-image"
                    class="profile"
                  />
                </div>
                <div class="card-content">
                  <h4>
                    Siddharth Bhatter<small>
                      <br />
                      Founder and CEO</small
                    >
                  </h4>

                  <div class="icon-block">
                    <a
                      href="https://www.linkedin.com/in/gkbhatter/"
                      style="background-color: transparent !important"
                    >
                      <i class="flaticon-linkedin-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top: 1rem !important">
              <div class="card profile-card-3">
                <div class="background-block">
                  <img
                    src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="profile-sample1"
                    class="background"
                  />
                </div>
                <div class="profile-thumb-block">
                  <img
                    src="{% static "website/images/team/himanshu.png" %}"
                    alt="profile-image"
                    class="profile"
                  />
                </div>
                <div class="card-content">
                  <h4>
                    Himanshu Vishwakarma<small
                      ><br />Chief Operating Officer</small
                    >
                  </h4>
                  <div class="icon-block">
                    <a
                      href="https://www.linkedin.com/in/vishwakarma92/"
                      style="background-color: transparent !important"
                    >
                      <i class="flaticon-linkedin-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4" style="margin-top: 1rem !important">
              <div class="card profile-card-3">
                <div class="background-block">
                  <img
                    src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="profile-sample1"
                    class="background"
                  />
                </div>
                <div class="profile-thumb-block">
                  <img
                    src="{% static "website/images/team/tripti.png" %}"
                    alt="profile-image"
                    class="profile"
                  />
                </div>
                <div class="card-content">
                  <h4>
                    Tripti Bhatter<small> <br />Director of Branding</small>
                  </h4>

                  <div class="icon-block">
                    <a
                      href="https://www.linkedin.com/in/triptibhatter/"
                      style="background-color: transparent !important"
                    >
                      <i class="flaticon-linkedin-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top: 1rem !important">
              <div class="card profile-card-3">
                <div class="background-block">
                  <img
                    src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="profile-sample1"
                    class="background"
                  />
                </div>
                <div class="profile-thumb-block">
                  <img
                    src="{% static "website/images/team/demo.png" %}"
                    alt="profile-image"
                    class="profile"
                  />
                </div>
                <div class="card-content">
                  <h4>
                    Gouri Shankar<small>
                      <br />Chief Business Management Officer</small
                    >
                  </h4>

                  <div class="icon-block">
                    <a
                      href="#"
                      style="background-color: transparent !important"
                    >
                      <i class="flaticon-linkedin-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top: 1rem !important">
              <div class="card profile-card-3">
                <div class="background-block">
                  <img
                    src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="profile-sample1"
                    class="background"
                  />
                </div>
                <div class="profile-thumb-block">
                  <img
                    src="{% static "website/images/team/raja.png" %}"
                    alt="profile-image"
                    class="profile"
                  />
                </div>
                <div class="card-content">
                  <h4>
                    Raja Pandit<small> <br />Chief Curriculum Advisor</small>
                  </h4>

                  <div class="icon-block">
                    <a
                      href="https://www.linkedin.com/in/rajapandit/"
                      style="background-color: transparent !important"
                    >
                      <i class="flaticon-linkedin-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h2 class="text-center text-muted py-3" style="margin-top: 1.1rem">
        Advisory Team
      </h2>
      <section>
        <div class="container">
          <div class="row">
            <!--Profile Card 3-->
            <div class="col-md-4" style="margin-top: 1rem !important">
              <div class="card profile-card-3">
                <div class="background-block">
                  <img
                    src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="profile-sample1"
                    class="background"
                  />
                </div>
                <div class="profile-thumb-block">
                  <img
                    src="{% static "website/images/team/vishnu.png" %}"
                    alt="profile-image"
                    class="profile"
                  />
                </div>
                <div class="card-content">
                  <h4>
                    Vishnu Nagaraj<small> <br />Strategic Advisor</small>
                  </h4>

                  <div class="icon-block">
                    <a
                      href="https://www.linkedin.com/in/iamvishnunraj/"
                      style="background-color: transparent !important"
                    >
                      <i class="flaticon-linkedin-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top: 1rem !important">
              <div class="card profile-card-3">
                <div class="background-block">
                  <img
                    src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="profile-sample1"
                    class="background"
                  />
                </div>
                <div class="profile-thumb-block">
                  <img
                    src="{% static "website/images/team/pallav.png" %}"
                    alt="profile-image"
                    class="profile"
                  />
                </div>
                <div class="card-content">
                  <h4>
                    Mr. Pallav Aggarwal<small
                      ><br />Senior Embedded Developer</small
                    >
                  </h4>
                  <div class="icon-block">
                    <a
                      href="https://www.linkedin.com/in/pallavaggarwal/"
                      style="background-color: transparent !important"
                    >
                      <i class="flaticon-linkedin-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top: 1rem !important">
              <div class="card profile-card-3">
                <div class="background-block">
                  <img
                    src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="profile-sample1"
                    class="background"
                  />
                </div>
                <div class="profile-thumb-block">
                  <img
                    src="{% static "website/images/team/demo.png" %}"
                    alt="profile-image"
                    class="profile"
                  />
                </div>
                <div class="card-content">
                  <h4>
                    Mr Nitesh Kumar Bhakta<small
                      ><br />Lead Embedded Engineer</small
                    >
                  </h4>
                  <div class="icon-block">
                    <a
                      href="https://www.linkedin.com/in/nitesh-kumar-bhakta-05889a99/"
                      style="background-color: transparent !important"
                    >
                      <i class="flaticon-linkedin-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top: 1rem !important">
              <div class="card profile-card-3">
                <div class="background-block">
                  <img
                    src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="profile-sample1"
                    class="background"
                  />
                </div>
                <div class="profile-thumb-block">
                  <img
                    src="{% static "website/images/team/parag.png" %}"
                    alt="profile-image"
                    class="profile"
                  />
                </div>
                <div class="card-content">
                  <h4>
                    Mr Parag Joshi<small
                      ><br />Ph.D<br />Texas University, USA</small
                    >
                  </h4>
                  <div class="icon-block">
                    <a
                      href="https://www.linkedin.com/in/parag-joshi-a3360a70/"
                      style="background-color: transparent !important"
                    >
                      <i class="flaticon-linkedin-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div
          class="section mb-0 pb-0 bg-theme-light clearfix"
          style="padding-top: 50px"
        >
          <div class="container">
            <div class="row">
              <div
                class="col-md-8 offset-1"
                id="get-involved"
                style="margin-bottom: 1rem"
              >
                <h2 class="nott t600 display-4">Have any questions?</h2>
                <p style="font-size: 1.1rem">
                  We've the answers for you at every step.
                </p>
                <br />
                <a
                  href="{% url "faq" %}"
                  class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                  style="margin-bottom: 20px !important"
                  ><span style="letter-spacing: 1px !important"
                    >Let us help you</span
                  ></a
                >
              </div>
            </div>
          </div>
          <!-- <img src="" alt="Footer Image" class="footer-img" /> -->
        </div>
      </section>

     {% endblock %}