{% extends 'webbase.html' %}
{% load static %}
{% block content %}
      <section id="content" class="soafablab" style="margin-top: 2rem;">
        <div class="content-wrap pt-3 pb-0">
          <div class="alert alert-warning alert-dismissible fade show text-center" role="alert" style="margin-bottom: 0!important;letter-spacing: 1px;">
            <strong>* Due to COVID19 Pandemic</strong> SOA FAbLab is being operated virtually.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div
            class="ohidden d-flex align-items-center"
            data-bottom-top="background-position:0px 200px;"
            data-top-bottom="background-position:0px -400px;"
            style="
              background-image: url('{% static "website/images/makerlabs/s-head.jpg" %}');
              background-size: cover;
              background-attachment: scroll!important;
              height: 450px;
              width: 100%;
            "
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h1 class="text-white" style="font-size: 55px;">
                    SOA FabLab
                  </h1>
                  <!-- <p style="font-size: 20px!important;color: white;">This Trading Course Is The #1 Cryptocurrency Trading Course TradersUse To Learn, Practise and Drastically Improve Their Investment Results.</p> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Section - 1 -->

          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;padding-bottom: 0!important;" id="certified-desktop">
            <div class="container clearfix">
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 pr-5">
                  <div class="heading-block mb-4 nobottomborder">
                    <h3 class="nott t600">
                      Fablab Activities
                    </h3>
                    <br /><br />
                    <p style="font-size: 16px;">Welcome to a community of people who have a passion for making things, and who want to share that with others by making at S’O’A Fab Lab, powered by Karkhana Makerspace. The greatest part about creating a Makerspace is that it has no rules. Libraries follow the same structure from city to city, where makerspace shape and grow to what the members of the organization and the community feel. Connecting the wise, experienced members of S’O’A University who have the field knowledge from Medical, Engineering, Film, and Design to the young, willing-to learn youth of the community.</p>
                    
                  </div>
                  <!-- <div>
                    <a
                      href="#"
                      class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                      >Book Now</a
                    >
                  </div> -->
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="card shadow-sm border-light">
                    <img src="{% static "website/images/makerlabs/s-1.jpg" %}" class="card-img-top" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Section 1 Mobile View -->
          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;padding-bottom: 0!important;padding-top: 1rem!important" id="certified-mobile">
            <div class="container clearfix text-center">
              <h3 class="nott t600" style="font-size: 22px!important;">
                      Fablab Activities
                    </h3>
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 col-sm-6" style="margin-bottom: 1rem;">
                  <div class="card shadow-sm border-light">
                    <img src="{% static "website/images/makerlabs/s-1.jpg" %}" class="card-img-top" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="heading-block mb-4 nobottomborder">
                    <p style="font-size: 16px;text-align: justify;">Welcome to a community of people who have a passion for making things, and who want to share that with others by making at S’O’A Fab Lab, powered by Karkhana Makerspace. The greatest part about creating a Makerspace is that it has no rules. Libraries follow the same structure from city to city, where makerspace shape and grow to what the members of the organization and the community feel. Connecting the wise, experienced members of S’O’A University who have the field knowledge from Medical, Engineering, Film, and Design to the young, willing-to learn youth of the community.</p>
                  </div>
                  <!-- <div>
                    <a
                      href="#"
                      class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                      >Book Now</a
                    >
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Section - 2 -->

          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;background-color: white;padding-bottom: 0!important;" id="certified-desktop">
            <div class="container clearfix">
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 col-sm-6">
                  <div class="card shadow-sm border-light">
                    <img src="{% static "website/images/makerlabs/s-2.jpg" %}" class="card-img-top" />
                  </div>
                </div>
                <div class="col-md-6 pr-5">
                  <div class="heading-block mb-4 nobottomborder">
                    <br><br>
                    <p style="font-size: 16px;">Making and Makerspace are complementary to curriculum-driven classes. Both are necessary; one cannot have a surgeon or a pilot learning solely by making. Making involves what is often described as “the 4 C’s” of the necessary 21st century skills: <br>
>Creative Thinking <br>
>Critical Thinking <br>
>Collaboration <br>
>Communication</p>
                  </div>
                  <!-- <div>
                    <a
                      href="./level1.html"
                      class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                      >Book Now</a
                    >
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <!--Section 2 Mobile View -->
          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;background-color: white;padding-bottom: 0!important;padding-top: 1rem!important" id="certified-mobile">
            <div class="container clearfix text-center">
              <h3 class="nott t600">
                      Award Corner
                    </h3>
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 col-sm-6" style="margin-bottom: 1rem;">
                  <div class="card shadow-sm border-light">
                    <img src="{% static "website/images/makerlabs/s-2.jpg" %}" class="card-img-top" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="heading-block mb-4 nobottomborder">
                    <p style="font-size: 16px;text-align: justify;">Making and Makerspace are complementary to curriculum-driven classes. Both are necessary; one cannot have a surgeon or a pilot learning solely by making. Making involves what is often described as “the 4 C’s” of the necessary 21st century skills: <br>
>Creative Thinking <br>
>Critical Thinking <br>
>Collaboration <br>
>Communication</p>
                  </div>
                  <!-- <div>
                    <a
                      href="./level1.html"
                      class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                      >VIEW NOW</a
                    >
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Faculty Mentors Desktop View-->
          <div class="container" id="story-desktop">
            <div
              class="heading-block nobottomborder center"
              style="margin-bottom: 0 !important; margin-top: 0rem"
            >
              <h2 class="nott t600 mb-0" style="letter-spacing: 1px">
                Faculty Mentors
              </h2>
            </div>
            <div class="row justify-content-between">
              <div class="card" style="width: 17rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/faculty-mentor/1.jpeg" %}"
                  class="card-img-top"
                  alt="..."
                />
                
              </div>
              <div class="card" style="width: 17rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/faculty-mentor/2.jpeg" %}"
                  class="card-img-top"
                  alt="..."
                />
                
              </div>
              <div class="card" style="width: 17rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/faculty-mentor/3.jpeg" %}"
                  class="card-img-top"
                  alt="..."
                />
                
              </div>
            </div>
          </div>

          <!-- Faculty Mentors Mobile View-->
          <div class="container" id="story-mobile">
            <div
              class="heading-block nobottomborder center"
              style="margin-bottom: 0 !important; margin-top: 0rem"
            >
              <h2 class="nott t600 mb-0" style="letter-spacing: 1px">
                Faculty Mentors
              </h2>
            </div>
            <div class="row justify-content-center">
              <div class="card" style="width: 17rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/faculty-mentor/1.jpeg" %}"
                  class="card-img-top"
                  alt="..."
                />
              </div>
              <div class="card" style="width: 17rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/faculty-mentor/2.jpeg" %}"
                  class="card-img-top"
                  alt="..."
                />
              </div>
              <div class="card" style="width: 17rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/faculty-mentor/3.jpeg" %}"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
          </div>

          <!-- Story Desktop View-->
          <div class="container" id="story-desktop"> 
            <div
              class="heading-block nobottomborder center"
              style="margin-bottom: 0 !important; margin-top: 4rem"
            >
              <h2 class="nott t600 mb-0" style="letter-spacing: 1px">
                SOA Fablab Team
              </h2>
            </div>
            <div class="row justify-content-between">
              <div class="card" style="width: 12rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/soafablab/1.jpg" %}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body" style="text-align: center">
                  <h4 class="card-title">President</h4>
                </div>
              </div>
              <div class="card" style="width: 12rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/soafablab/2.jpg" %}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body" style="text-align: center">
                  <h4 class="card-title">Vice President</h4>
                </div>
              </div>
              <div class="card" style="width: 12rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/soafablab/3.jpg" %}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body" style="text-align: center">
                  <h4 class="card-title">Treasurer</h4>
                </div>
              </div>
              <div class="card" style="width: 12rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/soafablab/4.jpg" %}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body" style="text-align: center">
                  <h4 class="card-title">Secretary</h4>
                </div>
              </div>
              <div class="card" style="width: 12rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/soafablab/5.jpg" %}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body" style="text-align: center">
                  <h4 class="card-title">Advisor</h4>
                </div>
              </div>
            </div>
          </div>

          <!-- Story Mobile View-->
          <div class="container" id="story-mobile">
            <div
              class="heading-block nobottomborder center"
              style="margin-bottom: 0 !important; margin-top: 4rem"
            >
              <h2 class="nott t600 mb-0" style="letter-spacing: 1px">
                SOA Fablab Team
              </h2>
            </div>
            <div class="row justify-content-between">
              <div class="card" style="width: 12rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/soafablab/1.jpg" %}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body" style="text-align: center">
                  <h4 class="card-title">President</h4>
                </div>
              </div>
              <div class="card" style="width: 12rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/soafablab/2.jpg" %}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body" style="text-align: center">
                  <h4 class="card-title">Vice President</h4>
                </div>
              </div>
              <div class="card" style="width: 12rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/soafablab/3.jpg" %}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body" style="text-align: center">
                  <h4 class="card-title">Treasurer</h4>
                </div>
              </div>
              <div class="card" style="width: 12rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/soafablab/4.jpg" %}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body" style="text-align: center">
                  <h4 class="card-title">Secretary</h4>
                </div>
              </div>
              <div class="card" style="width: 12rem; margin-top: 0.8rem;border: none;">
                <img
                  src="{% static "website/images/soafablab/5.jpg" %}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body" style="text-align: center">
                  <h4 class="card-title">Advisor</h4>
                </div>
              </div>
            </div>
          </div>

          <!-- Section - 3 -->

          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;padding-bottom: 0!important;" id="certified-desktop">
            <div class="container clearfix">
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 pr-5">
                  <div class="heading-block mb-4 nobottomborder">
                    <h3 class="nott t600">
                      Upcoming Events
                    </h3>
                    <br /><br />
                    <ul style="font-size: 16px;padding-inline-start: 40px; letter-spacing: 1px;">
                      <li style="margin-bottom: 5px;"><b>Machine Learning on Raspberry Pi</b></li>
                      <li style="margin-bottom: 5px;"> <b>Fee:</b> INR <span style="text-decoration:line-through">8000</span> 6400 /-<br> <span style="font-size: 12px;">*20% discount. GST included.</span> </li>
                      <li style="margin-bottom: 5px;"><b>Course start:</b> 12 October 2020</li>
                      <li style="margin-bottom: 5px;"><b>Duration:</b> 6 Weeks</li>
                      <li style="margin-bottom: 5px;"><b>Per referral 500 Off</b></li>
                    </ul>
                  </div>
                  <div>
                    <a
                      href="{% url 'mlrpi' %}"
                      class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                      style="letter-spacing: 1px!important;"
                      >Click To Register</a
                    >
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="card shadow-sm border-light">
                    <img src="{% static "website/images/labs/soafablab.jpg" %}" class="card-img-top" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Section 3 Mobile View -->
          <div class="section mt-0 pt-md-5 pt-0" style="margin: 0!important;padding-bottom: 0!important;padding-top: 1rem!important" id="certified-mobile">
            <div class="container clearfix text-center">
              <h3 class="nott t600" style="font-size: 22px!important;">
                      Upcoming Events
                    </h3>
              <div class="row align-items-md-center mb-5">
                <div class="col-md-6 col-sm-6" style="margin-bottom: 1rem;">
                  <div class="card shadow-sm border-light">
                    <img src="{% static "website/images/gallery/1.png" %}" class="card-img-top" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="heading-block mb-4 nobottomborder">
                    <ul style="font-size: 16px;padding-inline-start: 40px; letter-spacing: 1px;text-align: left;">
                      <li style="margin-bottom: 5px;"><b>Machine Learning on Raspberry Pi</b></li>
                      <li style="margin-bottom: 5px;"> <b>Fee:</b> INR <span style="text-decoration:line-through">8000</span> 6400 /-<br> <span style="font-size: 12px;">*20% discount. GST included.</span> </li>
                      <li style="margin-bottom: 5px;"><b>Course start:</b> 12 October 2020</li>
                      <li style="margin-bottom: 5px;"><b>Duration:</b> 6 Weeks</li>
                      <li style="margin-bottom: 5px;"><b>Per referral 500 Off</b></li>
                    </ul>
                  </div>
                  <div>
                    <a
                      href="{% url 'mlrpi' %}"
                      class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                      style="letter-spacing: 1px!important;"
                      >Click To Register</a
                    >
                  </div>
                </div>
                
              </div>
            </div>
          </div>

          <!-- Card Section -->
           
          <div
            class="section mb-0 pb-0 bg-theme-light clearfix"
            style="padding-top: 50px;margin-top: 0!important;"
          >
           
              <div class="row">
                <div
                  class="col-md-8 offset-1"
                  id="get-involved"
                  style="margin-bottom: 1rem;"
                >
                <div class="container">
                  <h2 class="nott t600 display-4 register">Register Youself!</h2>
                  <p style="font-size: 1rem;">
                    Don’t settle with a world where you have to make do with
                    things, be a part of one where you can actually MAKE and DO
                    things.
                  </p>
                  <br />
                  <a
                    href="{% url "mlrpi" %}"
                    class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5"
                    style="margin-bottom: 20px !important;"
                    ><span style="letter-spacing: 1px!important"
                      >Register Now</span
                    ></a
                  ></div>
                </div>
              </div>
            
          </div>
      </section>

     {% endblock %}