
.scroll-img {
  width: 1100px;
  height: 250px;
  overflow: hidden;
  font-size: 0;
}
.scroll-img ul {
  width: 700px;
  height: 600px;
  margin: 0;
}
.scroll-img ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
}
#demo4.scroll-img ul,
#demo5.scroll-img ul {
  width: 1500px;
}
.demo5-btn:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.5s;
}
.small-cards {
  width:15rem;
}
